name: Publish Release

on:
  push:
    tags:
      - "beta-*"

permissions:
  contents: write

jobs:
  publish-release:
    runs-on: ubuntu-latest
    # outputs:
    # version: ${{ steps.get_tag.outputs.tag }}
    steps:
      - name: Set git to use CRLF
        run: |
          git config --global core.autocrlf true
          git config --global core.eol crlf

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get Tag
        id: get_tag
        env:
          REF: ${{ github.ref }} # e.g. refs/tags/beta-2026-01-27
        run: |
          TAG=${REF/refs\/tags\/}
          echo "tag=${TAG}" >> $GITHUB_OUTPUT

      - name: Pack as zip
        run:  git archive -o zblogphp-${{ steps.get_tag.outputs.tag }}.zip HEAD

      # - name: Put AppCentre Plugin
      #   run: |
      #     php ./utils/put_appcentre.php
      #     zip -g zblogphp-${{ steps.get_tag.outputs.tag }}.zip zb_users/plugin/AppCentre/* zb_users/plugin/AppCentre/**/*

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.get_tag.outputs.tag }}
          name: Z-BlogPHP 1.8 ${{ steps.get_tag.outputs.tag }}
          # draft: true
          prerelease: false
          generate_release_notes: true
          files: |
            zblogphp-${{ steps.get_tag.outputs.tag }}.zip


